body {
  position: relative;
  font-size: 14px;
}
.active {
  font-weight: 600;
  border: 0.5px solid rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  background-color: #c6c6c6;
}
/* _____________________________________NavBar */
#navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 10px;
  transition: 0.5s;
}

.navbar {
  border: solid 1px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar-collapse {
  font-size: 0.8em;
}
.navbar-nav {
  display: flex;
  align-items: center;
}

/* _____________________________________First Page */

.page1 {
  background-color: #b03d4a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  max-height: 500px;
}

.written-part-page1 {
  text-align: start;
  flex: 1;
  box-sizing: border-box;
  margin: 50px 0px 50px 50px;
  letter-spacing: 0.2rem;
  font-family: Helvetica;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.im {
  font-size: 1.5rem;
  font-weight: 500;
}
.EM-text {
  font-size: 2.5rem;
  font-weight: 600;
}
.typed-cursor,
#typed {
  font-size: 1.6rem;
  color: #ffffff;
  font-family: "Courier New";
  letter-spacing: 0;
  margin-bottom: 50px;
}

.btnCM {
  width: fit-content;
  padding: 10px;
  letter-spacing: 1px;
  background-color: #ffffff;
  color: darkred;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
}

.btnCM:hover {
  color: #ffffff;
  background: transparent;
  box-shadow: inset 0 0 0 0 #ef233c;
  border: #fbfbfb solid 2px;
  text-decoration: none;
}

.image-part-page1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.profileImage img {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .page1 {
    display: flex;
  }
  .written-part-page1 {
    font-size: 0.5em;
    text-align: center;
    margin: 50px;
    gap: 2rem;
  }
  .btnCM {
    margin: auto;
  }
  .im {
    text-align: center;
  }
  .image-part-page1 {
    display: none;
  }
}

/* ___________________________________Second Page */

.page2 {
  display: flex;
  flex-direction: row;
  margin: 50px 0;
}
.page2 .image-part {
  flex: 1;
  margin: 0 0 0 20px;
  box-sizing: border-box;
  align-items: center;
}
.page2 .image {
  max-width: 100%;
  height: 100%;
}

.page2 .written-part {
  flex: 2;
  margin: 0px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#skills .progress .progress-bar {
  background: #ff0000;
  border-radius: 10px;
  transition: 4s;
}
.page2 #WrittenHeader {
  font-size: 1.5rem;
  font-weight: 400;
}
.skillName {
  font-weight: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .page2 .image-part {
    display: none;
  }
  .page2 .written-part {
    background-image: url(../img/pg2-1.jpeg);
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: lighten;
    background-size: cover;
  }
}

.progress {
  background-color: #e4c465;
  animation: progressBar 3s ease-in-out;
  animation-fill-mode: both;
}

@keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* ___________________________________Third Page */
.page3 {
  background-color: #e8e8e8;
  position: relative;
  padding: 0px 40px 40px 40px;
}

.center-line {
  position: absolute;
  height: 100%;
  width: 1px;
  top: 0;
  background-color: #000000;
  left: 50%;
  transform: translateX(-50%);
}

.section-1 {
  position: relative;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.section-2 {
  position: relative;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
}

.row-1,
.row-2 {
  width: calc(50% - 60px);
}
.row-2 .written,
.row-1 .written {
  padding: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.255);
  border-radius: 10px;
  text-align: center;
  background-color: #fafafae3;
}

.details {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.details .Title {
  margin: 0;
  text-align: start;
}
.row-1 #explaination,
.row-2 #explaination {
  text-align: justify;
  margin: 0px;
  font-size: 0.7rem;
}

.section-2::before,
.section-1::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: radial-gradient(white, white, black, black);
  top: calc(50%);
  left: calc(50% - 7.5px);
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.255);
}

.section-1::after {
  position: absolute;
  content: "";

  display: flex;
  justify-content: center;
  align-items: center;

  height: calc(100% - 4.5rem);
  color: #ffffff;
  font-size: 1rem;
  font-weight: 200;
  width: 1.8rem;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #545454;
  top: calc(50%);
  left: calc(50% - 60px);
  transform: translateY(-50%);
  writing-mode: vertical-lr;
  text-align: center;
  letter-spacing: 3px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.255);
}

.section-2::after {
  position: absolute;
  content: " ";

  display: flex;
  justify-content: center;
  align-items: center;

  height: calc(100% - 4.5rem);
  color: #ffffff;
  font-size: 1rem;
  font-weight: 200;
  width: 1.8rem;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #545454;
  top: calc(50%);
  right: calc(50% - 60px);
  transform: translateY(50%);
  transform: scale(-1) translate(0, 50%);
  writing-mode: vertical-rl;
  letter-spacing: 3px;
  text-align: center;
  box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.255);
}

#section1-1::after {
  content: "2022-NOW";
}
#section2-2::after {
  content: "2018-NOW";
}
#section1-3::after {
  content: "2017-2019";
}
#section2-4::after {
  content: "2014-2020";
}

.row-1 .connection-line {
  position: absolute;
  height: 2.5px;
  width: calc(60px - 7.5px);
  background-color: rgb(0, 0, 0);
  right: calc(50% - 60px);
  top: calc(50% - 2px);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.255);
}
.row-2 .connection-line {
  position: absolute;
  height: 2.5px;
  width: calc(60px - 7.5px);
  background-color: rgb(0, 0, 0);
  left: calc(50% - 60px);
  top: calc(50% - 2px);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.255);
}

.row-1 .icon {
  position: absolute;
  left: calc(50% + 60px);
  padding: 15px;
  height: 100px;
  top: calc(50% - 50px);
  border-radius: 40px;
  border: #545454 double 4px;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
}
.row-2 .icon {
  position: absolute;
  right: calc(50% + 60px);
  padding: 15px;
  height: 100px;
  top: calc(50% - 50px);
  border-radius: 40px;
  border: #545454 double 4px;
  display: flex;
  justify-content: center;
  background-color: rgb(248, 248, 248);
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
}

.scroll-icon {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: calc(50% - 10px);
  bottom: 0;
  border-top: #020202 double 10px;
  border-left: #020202 double 10px;

  transform: rotate(45deg);
}

.companyText {
  padding: 5px 5px 5px 30px;
  overflow: hidden;
}
.icon img {
  height: 100%;
}
.icon .compName {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0;
}

.icon .explaination {
  display: flex;
  justify-content: center;
  font-size: 0.65rem;
  margin: 0;
  font-style: italic;
}

.btnTL {
  font-size: 0.7rem;
  padding: 7px;
  margin-top: 10px;
  background-color: #dfdfdf3f;
  border-radius: 5px;
  border: 0px;
  color: #000000;
  /* transition: 1s; */
}
.btnTL:hover {
  background-color: #ef233c;
  color: #ffffff;
}

/* //////////////////////////// */
@media screen and (max-width: 600px) {
  .image-part-page2 {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .written-part-page2 {
    justify-content: center;
    width: 100%;
  }

  .section-2::before,
  .section-1::before,
  .row-1 .icon,
  .row-2 .icon,
  .center-line,
  .connection-line {
    display: none;
  }

  .row-2,
  .row-1 {
    width: calc(100% - 2.5rem);
  }

  .section-2,
  .section-1 {
    display: flex;
    justify-content: center;
  }

  .section-1::after {
    left: calc(0px - 0.75rem);
    width: 2rem;
    transform: scale(-1) translate(0, 50%);
  }

  .section-2::after {
    left: calc(0px - 0.75rem);
    width: 2rem;
  }
}

.page4 {
  padding: 0px 40px 40px 40px;
}

.page4 #container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  gap: 2px;
  grid-auto-flow: dense;

  text-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.page4 #container > div {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.page4 .horizontal {
  grid-column: auto/span 2;
  display: flex;
  flex-direction: row;
}
.page4 .vertical {
  grid-row: auto/span 2;
  display: flex;
  flex-direction: column;
}

#tesselationBook {
  background-color: black;
  color: white;
}
.page4Boxes .imageDiv {
  flex: 0.7;
}
.page4Boxes .written {
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  text-align: justify;
  flex: 1;
  display: block;
}
.page4Boxes > div {
  padding: 15px;
  overflow: hidden;
}
.horizontal .imageDiv img {
  height: 100%;
}
.vertical .imageDiv img {
  width: 100%;
}

#IASS2021 {
  background-color: rgb(255, 255, 255);
  border: black solid 1px;
}
